@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

*,
input,
textarea,
button {
  font-family: "Noto Sans KR", sans-serif;
}

:root {
  --vh: 100%;
}

/* react-quill 에디터 높이 */
.ql-editor {
  min-height: 500px;
  padding: 30px 10px !important;
}
@media (max-width: 900px) {
  .ql-editor {
    padding: 15px 10px !important;
    min-height: 300px;
  }
}
.ql-editor > p {
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: "Noto Sans KR", sans-serif !important;
}
.ql-editor > pre {
  background-color: #3c3c3c !important;
  color: white !important;
  padding: 10px !important;
  font-size: 14px !important;
}
.ql-editor > blockquote {
  border-left: 4px solid #ccc !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  padding-left: 16px !important;
  font-size: 14px !important;
}
.ql-editor > p > code {
  background-color: #3c3c3c !important;
  color: white !important;
  border-radius: 0 !important;
}
.ql-editor.ql-blank::before {
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: "Noto Sans KR", sans-serif !important;
  font-style: normal !important;
}
